/*Main Color Palette*/
.main-blue,body{
	background-color: #84B3CC; 
}

.deep-blue {
	background-color:#357799 ;
}

.bright-blue {
	background-color: #BEFFF2;
}

.accent-red {
 	background-color: #FF614B;	
}

.mute-red {
	background-color: #CC648A;
}
