.global-chat{
	position:fixed;
	top: 30vh;
	right:1vw;
	height:70vh;
	width: 49%;
	overflow-y:scroll;
}
.chat-submit {
	position: fixed;
	right:	1vw;
	width:49%;

}
#chatsend{
	margin-bottom:8%;
}  
.chat-pad{
	padding: 10px
}
